body {
	background-image: url(../images/skulls.png);
}

.section {
	height: 35%;
	width: 25%;
/*	background-color: yellow;*/

}

.castle-container, 
.crystal-container {
	display: flex;
	justify-content: space-between;
/*	background-color: yellow;*/
}

.castle-container { 
	background-image: url(http://img00.deviantart.net/6f74/i/2013/158/a/f/background__ponyville_outskirts__s02e17__by_crasydwarf-d5v2ehm.png);
}

.subtext {
/*	font-family: 'Amatic SC', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Schoolbell', cursive;
	font-family: 'Fontdiner Swanky', cursive;*/
	font-family: 'Loved by the King', cursive;
	font-size: 18pt;
}