body {
	background-image: url(../images/skulls.png);
}

header {
	background-image: url(http://data.whicdn.com/images/65759650/original.jpg);
/*	background-image: url(https://ae01.alicdn.com/kf/HTB1X2KRQFXXXXaRXXXXq6xXFXXXF/SHENGYONGBAO-Vinyl-Custom-Photography-Backdrops-Prop-Photo-Studio-font-b-Background-b-font-font-b-Rainbow.jpg);*/
	background-size: cover;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 100%;
	padding: 50px;
    border-bottom: 3px solid white;
  	padding: 0px 0px 5px 0px;
    
/*    background-clip: content-box, padding-box;*/

}

header h1 {
	margin: 0;
	padding: 0;
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 48pt;
	font-weight: bold;
    text-shadow: #bee9f8 1px 1px, #000 2px 2px, #000 3px 3px;
}


.number-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.number-border {
	height:55%;
	width:55%;
	display: flex;
	align-items: center;
	justify-content: center;
/*	border: 3px solid #BADA55;*/
/*  	padding: 5px 5px 5px 5px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.97) 50%, rgba(219, 241, 248, 0.12) 100%), linear-gradient(to bottom, rgba(247, 247, 223, 0.07) 60%, #75ccd2 100%);
    background-clip: content-box, padding-box;*/
}

.number {
/*	background-image: url(http://data.whicdn.com/images/65759650/original.jpg);*/
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/d9/b1/cb/d9b1cb239d8d5d42ae0ae924ece034a0.jpg);
	background-size: cover;
	border-radius: 25px;
	height:90%;
	width:90%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid white;
  	padding: 0px 0px 5px 0px;
/*	border: 3px solid #8278ff;*/

}

#random_start_number {
	font-size: 140px;
    font-weight: bold;
    text-shadow: #bee9f8 1px 1px, #000 2px 2px, #000 3px 3px;
    padding: 50px;
}

.section {

/*	height: 35%;
	width: 25%;*/
/*	background-color: yellow;*/

}

.crystal-container {
/*	background-image: url(http://data.whicdn.com/images/65759650/original.jpg);*/
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/d9/b1/cb/d9b1cb239d8d5d42ae0ae924ece034a0.jpg);
	background-size: cover;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	height: 177px;
	margin: 15px;
	border-bottom: 3px solid white;
  	padding: 0px 0px 5px 0px;
}




.crystals-grp {

	width: 25%;
	padding: 0px 10px;

}

.crystals-grp:hover {
	width: 30%;
}

.castle-container, {
	display: flex;
	justify-content: space-between;
/*	background-color: yellow;*/
}

.castle-container { 
	background-image: url(http://img00.deviantart.net/6f74/i/2013/158/a/f/background__ponyville_outskirts__s02e17__by_crasydwarf-d5v2ehm.png);
}

.wins_losses_container {
/*	background-image: url(http://data.whicdn.com/images/65759650/original.jpg);
	background-size: cover;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: center;*/
	width: 100%;
	height: 177px;
	padding: 10px;
	margin: 15px;
}



.score-container {
/*	background-image: url(http://data.whicdn.com/images/65759650/original.jpg);
	background-size: cover;*/
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 177px;
	padding: 10px;
	margin: 15px;
}

.instructions {
/*	font-family: 'Amatic SC', cursive;*/
/*	font-family: 'Sacramento', cursive;*/
	font-family: 'Schoolbell', cursive;
/*	font-family: 'Fontdiner Swanky', cursive;*/
	font-size: 18pt;
	padding: 10px;
	margin: 15px;

}

.subtext {
/*	font-family: 'Amatic SC', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Schoolbell', cursive;
	font-family: 'Fontdiner Swanky', cursive;*/
	font-family: 'Schoolbell', cursive;
	font-size: 30pt;
}